@import "bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

body {
  font-family: 'Play', sans-serif;
}

li {
  list-style-type: none;
}

label {
  font-size: small;
}

